.homepage.active {
    filter: blur(5px);
  }
  
  .homepage {
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .homepage h1 {
    font-size: 52px;
  }
  
  .homepage p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: #ffffff;
  }
  
  .map-btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 28px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.35s;
    border-radius: 5px;
  }
  
  .map-btn:hover {
    background: rgba(8, 8, 8, 0.685);
    color: white;
    border: 1px solid #0099ff;
  }
  
  .date1 {
    bottom: 0;
    padding: 3.5%;
    font-size: 15px;
    color: #333 !important;
    width: 100%;
    text-align: left;
  }