.col {
    background: gray;
}
.card-body{
    background-color: gray;
}
.card-footer{
    background-color: gray;
}
.card{
    border: none;
    background-color: gray;
}
.card-title{
    text-decoration: none;
    color: rgb(228, 228, 228);
}