.struki1 {
    background-color: rgb(13, 20, 37);
    color: white;
    border-top-style: solid;
    border-width: 0.01rem;
    border-color: white;
  }
  .struki1 ul li {
    height: fit-content;
    padding: 1% 0;
    margin: 0;
  }
  .struki-container {
    padding: 2% 0;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
  }
  .mashinsko {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 97%;
    margin-left: 1.5% !important;
    height: 25vh;
    background: radial-gradient(
      circle at 74.2% 50.9%,
      rgb(3, 19, 57) 15.2%,
      rgb(33, 57, 112) 75.3%
    );
  }
  .electro {
    display: flex;
    align-items: center;
    width: 97%;
    margin-left: 1.5% !important;
    height: 25vh;
    background-color: #36096d;
    background: radial-gradient(
      circle at 74.2% 50.9%,
      rgb(3, 19, 57) 15.2%,
      rgb(33, 57, 112) 75.3%
    );
  }
  
  .metalurgija {
    display: flex;
    align-items: center;
    width: 97%;
    margin-left: 1.5% !important;
    height: 25vh;
    background: radial-gradient(
      circle at 74.2% 50.9%,
      rgb(3, 19, 57) 15.2%,
      rgb(33, 57, 112) 75.3%
    );
  }
  #struka:hover {
    background: radial-gradient(
      circle at 74.2% 50.9%,
      rgb(3, 19, 57) 15.2%,
      rgb(33, 57, 112) 75.3%
    );
  }
  .metalurgija h2 {
    width: 50%;
  }
  .el-img {
    padding: 0px 5% 0px 0px;
  }
  .mch-img {
    padding: 0px 5% 0px 0px;
  }
  .meta-img {
    padding: 0px 5% 0px 0px;
  }
  .el-img img {
    height: 25vh;
    width: 100%;
    border-radius: 2px;
  }
  .mch-img img {
    height: 25vh;
    width: 100%;
    border-radius: 2px;
  }
  .meta-img img {
    height: 25vh;
    width: 100%;
    border-radius: 2px;
  }
  /* Struki dropdown animation */
  .sub-struki {
    max-height: 0;
    margin-bottom: 2%;
    margin-left: 1.5%;
    overflow: hidden;
    width: 97%;
    transition: max-height 0.75s ease-in-out;
    background-color: rgba(36, 65, 115, 0.394);
    border-radius: 0px 0px 3px 3px;
  }
  .sub-struki h4,
  p {
    padding: 1%;
    color: white;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    color: #929292 !important;
  }
  .sub-dropdown {
    max-height: 500vh;
    transition: max-height 0.75s ease-in-out;
  }
  .sub-struka {
    padding-bottom: 2%;
  }
  /* Predmeti dropdown animation */
  .predemti {
    border-bottom: 1px solid white;
    display: flex;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.75s ease-out;
  }
  #predmeti {
    font-size: 1.4rem;
    padding-left: 3.5%;
    display: inline-block;
    position: relative;
  }
  #predmeti:after {
    box-shadow: 0 0 10px 2px #ffffff;
    content: "";
    position: absolute;
    width: 75%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  #predmeti:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .predemti ul {
    text-align: left;
    width: 30%;
    height: fit-content;
    padding: 0 0.6rem;
  }
  h5 {
    margin-bottom: 0;
  }
  .predemti li {
    height: fit-content;
    line-height: 1rem;
    margin: auto;
    padding: 1%;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .automech ul {
    width: 50%;
  }
  .predemti li::before {
    content: "•";
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  .predemti li::before {
    content: "•";
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 0;
    padding-right: 1rem;
  }
  .predemti {
    padding-top: 2%;
  }
  .predemti li {
    text-align: left;
  }
  #predmeti::before {
    content: "»";
    color: rgb(0, 255, 0);
    font-size: 25px;
  }
  #predmeti::before {
    content: "»";
    color: rgb(0, 255, 0);
    display: inline-block;
    padding: 10px 0;
    padding-right: 1rem;
  }
  
  .predmet-dropdown {
    max-height: 200vh;
    transition: max-height 0.75s ease-in-out;
  }
  
  .sub-struka {
    text-align: left;
    height: fit-content;
    width: 90%;
    margin: auto;
  }
  #struka {
    cursor: pointer;
  }
  .struka {
    width: 100% !important;
  }
  #predmeti {
    cursor: pointer;
  }
  
  .trans {
    display: flex;
    flex-direction: row;
  }


  /*===============IDK===============*/
  * {
    padding: 0;
    margin: 0;
  }
  body > .skiptranslate {
    display: none;
  }
  .skiptranslate {
    display: none;
  }
  html::-webkit-scrollbar {
    color: #777;
    width: 0.4vw;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #9999;
  }
  html::-webkit-scrollbar-track {
    background-color: #555;
  }
  body {
    background-color: rgb(13, 20, 37);
  }
  
  .bar {
    width: 100%;
    background-color: white;
  }
  
  .sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.815), rgba(4, 9, 30, 0.774)),
      url(../img/logo-struki.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  
  .sub-header-global {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  
  @media (max-width: 500px) {
    .sub-header,
    .sub-header-global {
      height: 40vh;
    }
  }
  
  .sub-header h1,
  .sub-header-global h1 {
    color: #ffffff;
    font-size: 40px;
  }
  h4 {
    cursor: default;
  }
  h4::before {
    content: "•";
    color: rgb(0, 255, 255);
    font-size: 30px;
  }
  h4::before {
    content: "•";
    color: rgb(0, 255, 255);
    display: inline-block;
    padding: 10px 0;
    padding-right: 1rem;
  }
  .predmet-dropdown li::before {
    content: "•";
    color: red;
    font-size: 25px;
  }
  .predmet-dropdown li::before {
    content: "•";
    color: red;
    display: inline-block;
    padding: 10px 0;
    padding-right: 1rem;
  }