.card1-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card1 {
    text-align: start;
    color: white;
    width: 80%;
    border: 1px solid #ccc;
    padding: 0.2rem;
    height: 30vh;
    /* background: url(/News/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 2000px 40px rgba(8, 8, 39, 0.8); */
  }
  .card-body1 {
    width: 100%;
    display: flex;
    height: 29vh;
  }
  .CImg {
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 2000px 40px rgba(8, 8, 39, 0.8);
  }
  .dropdown-content1 {
    width: 100%;
    opacity: 0;
    position: relative;
    color: white;
    z-index: 1;
    height: 20vh;
    margin-top: 10vh;
    text-align: center;
  }
  .card1:hover {
    transition: all ease-in-out 0.5s;
    height: 50vh;
  }
  .card1:hover .dropdown-content1 {
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
  .card1:hover .card-body1 {
    transition: 0.5s ease-in-out;
    height: 49vh;
  }
  
  .card1:hover h1 {
    display: none;
    transition: 0.5s ease-in-out;
  }
  
  .card1:hover h2 {
    display: none;
    transition: 0.5s ease-in-out;
  }
  