body{
    color: white;
}
.App {
    transition: opacity 10s ease;
  }
  .transparent {
    opacity: 0;
    pointer-events: none;
  }
  
  .fade-in {
    display: block !important;
    animation: fadeIn 30s !important;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    20% {opacity: 0.1;}
    100% { opacity: 1; }
  }
  
