.sort-buttons {
  text-align: center;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}
.sort-buttons button {
  background-color: #5e4c4c;
  border: 1px solid black;
  padding: 0.3% 2%;
  border-radius: 5px;
  transition: 0.5s;
}
.sort-buttons button:hover {
  background-color: #4144e1;
  color: white;
  border-color: white;
}
