.grizev {
  text-align: center;
  font-size: 20px;
  padding: 1% 0;
  padding-bottom: 23%;
  color: #777;
}
.special{
  margin: 3rem;
}
.special h3{
  padding: 1rem;
  font-size: 2rem;
}
.kadar {
  padding: 5% 0;
  padding-bottom: 2%;
}
.nav1 {
  padding-bottom: 8% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 0 3%;
}
.nav1 h3 {
  font-size: 20px;
  padding-top: 20px;
  height: fit-content;
  text-align: center;
}
.profe-main {
  display: flex;
  gap: 5%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.profe-main > .profe {
  scroll-snap-align: start;
}
.profe-main::-webkit-scrollbar {
  color: #777;
  height: 0.5vh;
}
.profe-main::-webkit-scrollbar-thumb {
  background-color: #9999;
}
.profe-main::-webkit-scrollbar-track {
  background-color: #555;
}
.profe {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: start;
}
.profe img {
  width: 15vw;
  transition: left 5s;
}
.special{
  display: 'flex'; justify-content: 'center'; gap: "30px"; padding-top: "10px";
}
.kadar-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev{
  padding-bottom: 8% !important;
  font-size: 5rem;
  cursor: pointer;
}
.next{
  padding-bottom: 8% !important;
  font-size: 5rem;
  cursor: pointer;
}