.news {
    color: rgb(202, 202, 202);
    display: flex;
    padding-bottom: 10%;
    margin-top: 10%;
    flex-direction: column;
    text-align: center;
    background-color: rgb(13, 20, 37);
    border-top: 1px solid rgb(255, 255, 255);
  }
  .news #news-title {
    padding-top: 100px;
  }
  .news-wrapper {
    display: flex;
    justify-content: center;
    padding: 2% 0;
    padding-top: 0;
  }
  .news-left {
    padding: 0;
    height: fit-content;
    border-radius: 5px;
    margin: 0;
    gap: 3%;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    width: 50%;
    color: black;
  }
  .img-el {
    height: 25vh !important;
  }
  .news-left-img img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .news-left-img {
    width: 100%;
    text-align: left;
    padding: 2% 0;
    position: relative;
    padding-top: 0;
  }
  .news-left-img span {
    position: absolute;
    margin: 2rem;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #007c92;
    background-color: #00adcf;
  }
  .news-left-img .span1 {
    cursor: default;
    font-size: 17px;
    margin: 0.7rem;
  }
  .news-left-text {
    padding: 2% 2%;
    padding-bottom: 7%;
    width: 100%;
    text-align: center;
  }
  .news-left h2 {
    font-weight: 600;
    margin: auto;
    padding: 2%;
    font-size: 20px;
  }
  
  .news-left a {
    transition: 0.35s;
  }
  .news-left a:hover {
    color: white;
  }
  .news-left-post.news-post {
    width: 90%;
  }
  .news-left-post1.news-post {
    position: relative;
    margin: 5% 0;
    width: 43.5%;
    height: fit-content;
  }
  .news-left-text1 h2 {
    font-size: 15px;
  }
  .news-left-post1 {
    transition: 0.5s;
    width: 36.7%;
    border-radius: 10px;
    background-color: white;
  }
  .news-left-post:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0, 162, 255, 0.568);
  }
  .news-left-post1:hover {
    scale: 1.02;
    box-shadow: 0 0 20px 0px rgba(0, 162, 255, 0.568);
    cursor: pointer;
  }
  .news-left h2 {
    font-size: 20px;
  }
  .news-left-post {
    transition: 0.5s;
    border-radius: 10px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  .news-right {
    padding: 0;
    width: 35%;
    height: 50%;
    background-color: rgb(21, 34, 65);
  }
  .news-left-post1 .news-left-text1 {
    margin: auto;
    height: fit-content;
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 1rem 0;
  }
  .news-right ul li {
    display: flex;
    transition: 0.5s;
    font-size: 20px;
    padding: 5% 0;
    border-bottom: 1px solid black;
  }
  .news-right ul li p {
    padding-left: 20px;
    margin: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .news-right ul li a {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 20px;
    width: 87%;
  }
  .news-right h3 {
    text-align: right;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px 50px;
    padding-bottom: 10px;
  }
  .news-right .all {
    display: flex;
    margin-bottom: 10px;
    justify-content: right;
    align-items: center;
    font-size: 25px;
    color: rgb(0, 163, 136);
    text-decoration: none;
    transition: 0.5s;
  }
  .news-right .all:hover {
    color: #009fbb;
  }
  .news-right i {
    font-size: 30px;
    margin-left: 1rem;
  }
  .news-right ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    text-align: left;
    padding: 0;
  }
  .news-right h3 {
    margin-bottom: 10px;
    font-weight: 600;
    color: white;
  }
  .news-right li:hover {
    background-color: #007c92;
  }
  i:hover {
    cursor: pointer;
  }
  .news-right li a {
    transition: 0.5s;
    font-weight: 520;
    margin-left: 5px;
    color: white;
    text-decoration: none;
  }
  
  #news-title {
    margin-bottom: 100px;
  }
  