.scroll-to-top-wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  
  .scroll-to-top-button {
    background-color: #263bb3;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 100%;
    cursor: pointer;
    scale: 100%;
  }
  .scroll-to-top-button:hover {
    background-color: #6759e2;
  }