.homepage {
  display: flex;
  justify-content: center;
  color: rgb(221, 219, 219);
}
.sub-header {
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid white;
}
