.inner-text {
  
  justify-content: center;
  color: rgb(221, 219, 219);
  position: absolute;
  bottom: 10%;
}
.sub-header {
  position: relative;
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
